{% extends "base.html.twig" %}

{% block header %}
          <header class="">
            <div class="nav-scroller py-1 bg-primary">
              <nav class="nav d-flex justify-content-between">
                {% if current_menu is defined and current_menu == 'user' %}
                <a class="p-2 text-white" href="#">Les emprunteurs</a>
                {% elseif current_menu is defined and current_menu == 'pret' %}
                <a class="p-2 text-white" href="#">Emprunter un livre</a>
                {% endif %}
              </nav>
            </div>
            <div class="jumbotron text-center">
              <h1><a class="blog-header-logo text-dark" href="{{ path('home') }}">La bibliothèque FalaBooks</a></h1>
            </div>
          </header>
          <main class="container">
{% endblock %}


{% block footer %}
          </main>
            <footer class="blog-footer" style="padding: 2.5rem 0;color: #999;text-align: center;background-color: #f9f9f9;border-top: .05rem solid #e5e5e5;">
              <p>Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
              <p>
                <a href="#">Retour en haut</a>
              </p>
            </footer>
  {% endblock %}
