{% extends 'layout.html.twig' %}

{% block title %}Les emprunteurs - Falabooks{% endblock %}

{% block body %}
<div class="table-responsive">
    <table class="table table-striped ">
      <thead class="thead-dark">
        <tr class="d-flex">
          <th class="col-3">Nom</th>
          <th class="col-3">Prénom</th>
          <th class="col-4">Email</th>
          <th class="col-1">Modifier</th>
          <th class="col-1">Supprimer</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
          <tr class="d-flex">
            <td class="col-3"><a href="{{ path('user', {'id': user.id}) }}">{{ user.lastname }}</a></td>
            <td class="col-3">{{ user.firstname }}</td>
            <td class="col-4">{{ user.email }}</td>
            <td class="col-1 text-center"><a href="#"><i class="fas fa-edit fa-2x"></i></a> </td>
            <td class="col-1 text-center"><a href="#"><i class="fas fa-trash fa-2x"></i></a> </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
</div>

{% endblock %}
